<%
locals.OLSKPageTitle = OLSKLocalized('WKCSubscriptionsTitle');
locals.OLSKPageAssets = [
	'/shared-assets/vendor/turndown/dist/turndown.js',
	'/shared-assets/vendor/ispinner.css/ispinner.prefixed.css',
	'ui-logic.js',
	'ui-style.css',
];
%>

<%- include('../../_shared/WKCLayout/header.ejs') %>

<h1><%= locals.OLSKPageTitle %></h1>

<%- include('./module-create/view.ejs') %>

<%- include('../../_shared/WKCLayout/footer.ejs') %>