<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return {
				OLSKSharedPageCurrentLanguage: '<%= OLSKSharedPageCurrentLanguage %>',
			}[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestWKCWriteMasterListItemDispatchCreate</strong>
	<span id="TestWKCWriteMasterListItemDispatchCreate">0</span>
	<span id="TestWKCWriteMasterListItemDispatchCreateData">undefined</span>
</p>

<p>
	<strong>TestWKCWriteMasterListItemDispatchClick</strong>
	<span id="TestWKCWriteMasterListItemDispatchClick">0</span>
	<span id="TestWKCWriteMasterListItemDispatchClickData">undefined</span>
</p>

<p>
	<strong>TestWKCWriteMasterListItemDispatchArrow</strong>
	<span id="TestWKCWriteMasterListItemDispatchArrow">0</span>
	<span id="TestWKCWriteMasterListItemDispatchArrowData">undefined</span>
</p>

<p>
	<strong>TestWKCWriteMasterListItemDispatchFilter</strong>
	<span id="TestWKCWriteMasterListItemDispatchFilter">0</span>
	<span id="TestWKCWriteMasterListItemDispatchFilterData">undefined</span>
</p>

</body>
</html>
