:global(body) {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 9pt;

	background: var(--KVCCommonBackground);
	color: var(--KVCCommonForeground);
}

.OLSKMasterListBodyTail {
	padding: 10px;
	
	/* @OLSKMasterListBodyTailFlexbox:Parent */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.KVCWriteDetailContainer {
	display: flex;
	height: 100%;
}

.KVCWriteStorageToolbar {
	/* AppContainerFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.KVCWriteViewportFooter {
	/* browser quirks */
	z-index: 999;
}

}

:global(.OLSKIsDemoing .CodeMirror-cursors) {
	opacity: 0;
}
