:root {
	--WIKBorderStyle: 1px solid #ddd;
}

.WIKSharedToolbar {
	padding: 5px;
	border-bottom: var(--WIKBorderStyle);
}

.WKC_ContextMobileExclusive {
	display: none;
}

#WIKWriteStorageWidget {
	border-top: var(--WIKBorderStyle)
}
