<%
locals.OLSKPageTitle = OLSKTranslate('WKCHomeTitle');
%>

<%- include('../_shared/WKCLayout/header.ejs') %>

<h1><%= locals.OLSKPageTitle %></h1>

<p><%= OLSKTranslate('WKCHomeContent') %></p>

<%- include('../_shared/WKCLayout/footer.ejs') %>
