<%
locals.OLSKPageTitle = OLSKLocalized('WKCHomeTitle');
%>

<%- include('../_shared/WKCLayout/header.ejs') %>

<h1><%= locals.WKCNoteObject.WKCNoteDetectedTitle %></h1>

<%- markedPackage(locals.WKCNoteObject.WKCNoteDetectedBody) %>

<%- include('../_shared/WKCLayout/footer.ejs') %>
