body {
  font-family: 'Helvetica Neue';
  font-size: 90%;
}

#WKCSubscriptions {
	position: absolute;
	top: 24px;
	right: 0;
	bottom: 0;
	left: 0;

	/* @FlexboxWKCSubscriptions parent */
	display: flex;
}

.WKCSubscriptionsLoading .WKCSharedToolbar *, .WKCSubscriptionsLoading #WKCSubscriptionsSourcesContent *, .WKCSubscriptionsLoading #WKCSubscriptionsMasterContent *, .WKCSubscriptionsLoading #WKCSubscriptionsDetailContent *, .WKCSubscriptionsLoading #WKCSubscriptionsDetailPlaceholder * {
	visibility: hidden;
}

.WKCSubscriptionsHidden {
	display: none;
}

#WKCSubscriptionsCreate {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: 1000;

	background: white;

	display: none;
}

@keyframes WKCSubscriptionsCreateActive {
  from {
  	opacity: 0;
  }
  to {
  	opacity: 1;
  }
}

.WKCSubscriptionsCreateActive {
  animation-name: WKCSubscriptionsCreateActive;
  animation-duration: 0.235s;

  /* @FlexboxWKCSubscriptionsCreate parent */
  display: flex !important;
  flex-direction: column;
}

.WKCSubscriptionsCreateInactive {
	display: none;
}

#WKCReadModuleSubscribe {
	padding: 20px;

	/* @FlexboxWKCSubscriptionsCreate child */
	overflow: auto;
}

#WKCReadModuleSubscribeHeading {
	margin-top: 0;
}

#WKCReadModuleSubscribeLoader {
	padding: 20px 0;
}

#WKCReadModuleSubscribeAlternativesFeeds {
	padding: 10px;

	border: 1px solid #408002;
	background: #ccff66;
}

#WKCReadModuleSubscribeSuggestions {
	margin: 20px 0;
}

.WKCReadModuleSubscribePreview {
	padding-left: 20px;
	overflow-x: hidden;

	background: #eee;
	border-left: 10px solid #ddd;
}

#WKCReadModuleSubscribePreviewFeedList {
	padding-left: 10px;
}

#WKCSubscriptionsSources {
	border-right: 1px solid #ddd;
	background: #eeeeee;

	/* @FlexboxWKCSubscriptions child */
	flex-basis: 170px;
	flex-shrink: 0;
	max-width: 170px;

	/* @FlexboxWKCSubscriptionsSources parent */
	display: flex;
	flex-direction: column;
}

#WKCSubscriptionsSourcesContent {
	cursor: default;

	/* @DisableTextSelection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

	/* @FlexboxWKCSubscriptionsSources child */
	overflow: auto;
}

#WKCSubscriptionsSourcesContentList {
	/* browser defaults */
	padding-left: 0;
	margin: 0;
}

#WKCSubscriptionsSourcesContentList li {
	/* browser defaults */
	list-style: none;
}

.WKCSubscriptionsSourcesContentListHeading, #WKCSubscriptionsSourcesContentListSubscriptionsList {
	display: none;
}

.WKCSubscriptionsSourcesContentListHeading {
	margin: 0;
	border-bottom: 1px solid #ddd;

	font-size: 110%;
	text-transform: uppercase;
	text-align: center;
}

#WKCSubscriptionsSourcesContentListOutlooksHeading {
	border-bottom: none;
}

.WKCSubscriptionsSourcesContentListHeading .WKCSubscriptionsText {
	opacity: 0.5;
}

.WKCSubscriptionsSourcesContentListChildList {
	padding: 5px 0;

	/* browser defaults */
	padding-left: 0;
	margin: 0;
}

.WKCSubscriptionsSourcesContentListChildListItem {
	padding: 5px;
	min-height: 20px;

	white-space: nowrap;

	/* @FlexboxWKCSubscriptionsSources parent */
	display: flex;
	align-items: center;
}

.WKCSubscriptionsSourcesContentListChildListItem img {
	/* browser quirks */
	margin-top: -1px;
}

.WKCSubscriptionsSourcesContentListChildListItemSelected {
	background: #d9d9d9;
}

.WKCSubscriptionsSourcesContentListChildListItemName {
	display: block;

	/* @FlexboxWKCSubscriptionsMasterContentListItemContext child */
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.WKCSubscriptionsSourcesContentListChildListItemName {
	opacity: 0.8;

	font-size: 80%;
}

.WKCSubscriptionsSourcesContentListChildListItemUnreadCount {
	display: none !important;
}

.WKCSubscriptionsSourcesContentListChildListItemUnreadCount {
	padding: 1px 4px;
	border-radius: 10px;
	min-width: 15px;
	
	background: #7f7f7f;
	color: #ffffff;
	
	font-size: 80%;
	font-weight: bold;
	text-align: center;

	/* browser quirks */
	margin-top: -3px;
}

.WKCSubscriptionsSourcesContentListChildListItemUnreadCount .WKCSubscriptionsText {
	opacity: 0.8;
}

#WKCSubscriptionsMaster {
	/* @FlexboxWKCSubscriptions child */
	flex-basis: 300px;
	flex-shrink: 0;
	max-width: 300px;

	/* @FlexboxWKCSubscriptionsMaster parent */
	display: flex;
	flex-direction: column;
}

#WKCSubscriptionsMasterToolbar {
	border-top: 1px solid #ddd;
}

#WKCSubscriptionsMasterContent {
	/* @FlexboxWKCSubscriptionsMaster child */
	overflow: auto;
}

.WKCSubscriptionsMasterContentListItem {
	padding: 7px;
	border-bottom: 1px solid #ddd;

	font-size: 80%;
}

.WKCSubscriptionsMasterContentListItemUnread .WKCSubscriptionsMasterContentListItemReadStatus {
	display: inline-block;
	visibility: visible;
}

.WKCSubscriptionsMasterContentListItemUnread .WKCSubscriptionsMasterContentListItemContextSource {
	font-weight: bold;
}

.WKCSubscriptionsMasterContentListItemReadStatus {
	display: none;
	margin-right: 5px;
	visibility: hidden;
}

.WKCSubscriptionsMasterContentListItemSelected {
	background: #e6e6e6;
}

.WKCSubscriptionsMasterContentListItemContext {
	/* @FlexboxWKCSubscriptionsMasterContentListItemContext parent */
	display: flex;
}

.WKCSubscriptionsMasterContentListItemContextSource {
	white-space: nowrap;
	overflow: hidden;

	/* @FlexboxWKCSubscriptionsMasterContentListItemContext child */
	flex-grow: 1;
}

.WKCSubscriptionsMasterContentListItemContextTiming {
	padding-left: 5px;
	
	white-space: nowrap;

	opacity: 0.5;
}

.WKCSubscriptionsMasterContentListItemHeadline {
	display: block;
	margin-top: 7px;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.WKCSubscriptionsMasterContentListItemSnippet {
	display: block;
	margin-top: 7px;

	opacity: 0.5;
}

#WKCSubscriptionsMasterLoader {
	padding: 20px;
}

#WKCSubscriptionsMasterLoader .ispinner {
	margin: auto;
}

#WKCSubscriptionsDetail {
	border-left: 1px solid #ddd;

	/* @FlexboxWKCSubscriptions child */
	flex-grow: 1;

	/* @FlexboxWKCSubscriptionsDetail parent */
	display: flex;
	flex-direction: column;
}

.WKCSubscriptionsDetailInactive {
	border-top: 1px solid #ddd;
	/*display: flex;*/
	justify-content: center;
	/*align-items: center;*/
}

.WKCSubscriptionsDetailInactive #WKCSubscriptionsDetailToolbar, .WKCSubscriptionsDetailInactive #WKCSubscriptionsDetailContent {
	display: none;
}

.WKCSubscriptionsDetailInactive #WKCSubscriptionsDetailPlaceholder {
	display: block;
	width: 100%;
	text-align: center;
}

#WKCSubscriptionsDetailPlaceholder {
	opacity: 0.5;
	display: none;
}

#WKCSubscriptionsDetailContent {
	/* @FlexboxWKCSubscriptionsDetail child */
	padding: 10px;
	overflow: auto;
}

#WKCSubscriptionsDetailContentHeading {
	margin-top: 0;
	margin-bottom: 10px;
}

#WKCSubscriptionsDetailContentInfo {
	opacity: 0.5;
}

#WKCSubscriptionsDetailContentLink {
	display: block;

	opacity: 1;
}

#WKCSubscriptionsDetailContentBody {
	margin-top: 10px;

	width: 100%;

	overflow-x: scroll;
}

.WKCSubscriptionsDetailContentBodyFile {
	font-family: 'monaco', monospace;

	line-height: 1.4;
}

#WKCSubscriptionsDetailContentBody img {
	max-width: 100%;
	height: auto;
}

#WKCSubscriptionsDetailContentBody ins {
	background: #eaffbf;
}

#WKCSubscriptionsDetailContentBody del {
	background: #fdbfc0;
}
