# Copy this file to '.env' if not created by `npm run setup`

KVC_VITRINE_GLOSSARY_WRITING_ANSWER_URL=XXXXX
KVC_VITRINE_GLOSSARY_WRITING_LISTS_URL=XXXXX
KVC_VITRINE_GLOSSARY_WRITING_DISCUSSION_URL=XXXXX
KVC_VITRINE_GLOSSARY_PUBLIC_REF_URL=XXXXX
KVC_VITRINE_GLOSSARY_PUBLIC_GARDENS_URL=XXXXX
KVC_VITRINE_VIDEO_URL_1="//player.vimeo.com/video/432861056?color=ffffff&title=0&byline=0&portrait=0&dnt=true"
KVC_VITRINE_VIDEO_URL_2="//player.vimeo.com/video/432861083?color=ffffff&title=0&byline=0&portrait=0&dnt=true"

ROCO_EPHEMERATA_LINK_ICON_URL=https://static.rosano.ca/ephemerata/identity.svg
ROCO_EPHEMERATA_LINK_URL=https://rosano.ca/ephemerata
SWAR_LINK_ICON_URL=https://static.rosano.ca/swar/identity.svg
SWAR_LINK_URL=https://ring.0data.app/#random

OLSK_REPO_URL=https://github.com/wikiavec/hyperdraft

OLSK_APROPOS_FEEDBACK_EMAIL="XXXXX"

OLSK_VERSION_LIMIT=50

KVC_TEMPLATE_NORMALIZE_URL=https://cdn.jsdelivr.net/npm/normalize.css/normalize.css
KVC_TEMPLATE_DECOR_URL=https://cdn.jsdelivr.net/gh/olsk/OLSKDecor/ui-style.css

OLSK_FUND_FORM_URL=https://rosano.ca/fund
OLSK_FUND_API_URL=https://rosano.ca/api/grant
OLSK_FUND_PRICING_STRING="0:10 10,100 50,500 250"
OLSK_FUND_DOCUMENT_LIMIT=100

OLSK_LAYOUT_TOUCH_ICON_URL=https://static.rosano.ca/wikiavec/touch.png

ROCO_SHARED_PROJECT_ID=RP_003

# optionally in .env-crypto
OLSK_CRYPTO_PAIR_RECEIVER_PRIVATE="XXXXX"
OLSK_CRYPTO_PAIR_SENDER_PUBLIC="XXXXX"
