<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',

	'/_shared/__external/codemirror/lib/codemirror.css',
	'/_shared/__external/codemirror/lib/codemirror.js',

	'/_shared/__external/codemirror/mode/javascript/javascript.js',
	'/_shared/__external/codemirror/mode/css/css.js',
	
	'/_shared/__external/codemirror/addon/edit/continuelist.js',
	
	'/_shared/__external/codemirror/addon/mode/overlay.js',
	
	'/_shared/__external/codemirror/mode/markdown/markdown.js',
	'/_shared/__external/codemirror/mode/gfm/gfm.js',

	'/_shared/__external/codemirror/addon/search/search.js',
	'/_shared/__external/codemirror/addon/search/searchcursor.js',
	'/_shared/__external/codemirror/addon/search/jump-to-line.js',
	'/_shared/__external/codemirror/addon/dialog/dialog.css',
	'/_shared/__external/codemirror/addon/dialog/dialog.js',
	'/_shared/__external/codemirror/keymap/sublime.js',

	'/_shared/__external/launchlet/__compiled/launchlet.js',
	'/_shared/__external/launchlet/__compiled/launchlet.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KVCWriteDetailItem</strong>
	<span id="TestKVCWriteDetailItem">undefined</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchBack</strong>
	<span id="TestKVCWriteDetailDispatchBack">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchJump</strong>
	<span id="TestKVCWriteDetailDispatchJump">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchArchive</strong>
	<span id="TestKVCWriteDetailDispatchArchive">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchUnarchive</strong>
	<span id="TestKVCWriteDetailDispatchUnarchive">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchConnect</strong>
	<span id="TestKVCWriteDetailDispatchConnect">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchPublish</strong>
	<span id="TestKVCWriteDetailDispatchPublish">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchRetract</strong>
	<span id="TestKVCWriteDetailDispatchRetract">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchVersions</strong>
	<span id="TestKVCWriteDetailDispatchVersions">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchClone</strong>
	<span id="TestKVCWriteDetailDispatchClone">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchDiscard</strong>
	<span id="TestKVCWriteDetailDispatchDiscard">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchUpdate</strong>
	<span id="TestKVCWriteDetailDispatchUpdate">0</span>
</p>

<p>
	<strong>KVCWriteDetailDispatchSetAsRootPage</strong>
	<span id="TestKVCWriteDetailDispatchSetAsRootPage">0</span>
	<span id="TestKVCWriteDetailDispatchSetAsRootPageData">undefined</span>
</p>

<p>
	<button id="InterfaceTestKVCWriteDetailEditorFocusButtonDidClick" onclick="window.KVCWriteDetailBehaviour.TestKVCWriteDetailEditorFocus()">TestKVCWriteDetailEditorFocus</button>
</p>
