<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/_external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/panel/_shared/ui-style.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/_compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return {
				OLSKSharedPageCurrentLanguage: 'en',
			}[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/_compiled/ui-behaviour.js"></script>

<hr>

<p>
	<strong>TestSearchInputPlaceholder</strong>
	<button onclick="Main.$set({TestSearchInputPlaceholder: 'alfa'})" id="WKCWriteSearchInputTestSetSearchInputPlaceholderFilled">filled</button>
	<button onclick="Main.$set({TestSearchInputPlaceholder: ''})" id="WKCWriteSearchInputTestSetSearchInputPlaceholderBlank">blank</button>
</p>

<p>
	<strong>TestSearchInputText</strong>
	<button onclick="Main.$set({TestSearchInputText: 'alfa'})" id="WKCWriteSearchInputTestSetFilled">filled</button>
	<button onclick="Main.$set({TestSearchInputText: ''})" id="WKCWriteSearchInputTestSetBlank">blank</button>
</p>

<p>
	<strong>didRun</strong>
	<script type="text/javascript">
		Main.$on('SearchInputDispatchClear', function() {
			window.WKCWriteSearchInputTestRun.innerHTML = parseInt(window.WKCWriteSearchInputTestRun.innerHTML) + 1;
		});
	</script>
	<span id="WKCWriteSearchInputTestRun">0</span>
</p>

</body>
</html>
