body {
  font-family: 'Helvetica Neue';
  font-size: 90%;
}

#WKCRead {
	position: absolute;
	top: 24px;
	right: 0;
	bottom: 0;
	left: 0;

	/* WKCReadFlexboxParent */
	display: flex;
}

.WKCReadLoading .WKCSharedToolbar *, .WKCReadLoading #WKCReadSourcesContent *, .WKCReadLoading #WKCReadMasterContent *, .WKCReadLoading #WKCReadDetailContent *, .WKCReadLoading #WKCReadDetailPlaceholder * {
	visibility: hidden;
}

#WKCReadSubscribe {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: 1000;

	background: white;

	display: none;
}

@keyframes WKCReadSubscribeActive {
  from {
  	opacity: 0;
  }
  to {
  	opacity: 1;
  }
}

.WKCReadSubscribeActive {
  animation-name: WKCReadSubscribeActive;
  animation-duration: 0.235s;

  /* WKCReadSubscribeFlexboxParent */
  display: flex !important;
  flex-direction: column;
}

.WKCReadSubscribeInactive {
	display: none;
}

#WKCReadModuleSubscribe {
	padding: 20px;

	/* WKCReadSubscribeFlexboChild */
	overflow: auto;
}

#WKCReadModuleSubscribeHeading {
	margin-top: 0;
}

#WKCReadModuleSubscribeLoader {
	padding: 20px 0;
}

#WKCReadModuleSubscribeAlternatives {
	padding: 10px;

	border: 1px solid #408002;
	background: #ccff66;
}

#WKCReadModuleSubscribeSuggestions {
	margin: 20px 0;
}

.WKCReadModuleSubscribeConfirmationPreview {
	padding-left: 20px;
	overflow-x: hidden;

	background: #eee;
	border-left: 10px solid #ddd;
}

#WKCReadModuleSubscribeConfirmationPreviewArticlesList {
	padding-left: 10px;
}

#WKCReadSources {
	border-right: 1px solid #ddd;
	background: #eeeeee;

	/* WKCReadFlexboChild */
	flex-basis: 170px;
	flex-shrink: 0;
	max-width: 170px;

	/* WKCReadSourcesFlexboxParent */
	display: flex;
	flex-direction: column;
}

#WKCReadSourcesContent {
	cursor: default;

	/* DisableTextSelection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

	/* WKCReadSourcesFlexboChild */
	overflow: auto;
}

#WKCReadSourcesContentList {
	/* browser defaults */
	padding-left: 0;
	margin: 0;
}

#WKCReadSourcesContentList li {
	/* browser defaults */
	list-style: none;
}

.WKCReadSourcesContentListHeading, #WKCReadSourcesContentListSubscriptionsList {
	display: none;
}

.WKCReadSourcesContentListHeading {
	margin: 0;
	border-bottom: 1px solid #ddd;

	font-size: 110%;
	text-transform: uppercase;
	text-align: center;
}

#WKCReadSourcesContentListOutlooksHeading {
	border-bottom: none;
}

.WKCReadSourcesContentListHeading .WKCReadText {
	opacity: 0.5;
}

.WKCReadSourcesContentListChildList {
	padding: 5px 0;

	/* browser defaults */
	padding-left: 0;
	margin: 0;
}

.WKCReadSourcesContentListChildListItem {
	padding: 5px;
	min-height: 20px;

	white-space: nowrap;

	/* WKCReadSourcesFlexboxParent */
	display: flex;
	align-items: center;
}

.WKCReadSourcesContentListChildListItem img {
	margin-right: 3px;

	/* browser quirks */
	margin-top: -1px;
}

.WKCReadSourcesContentListChildListItemSelected {
	background: #d9d9d9;
}

.WKCReadSourcesContentListChildListItemName {
	display: block;

	/* WKCReadMasterContentListItemContextFlexboChild */
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.WKCReadSourcesContentListChildListItemName {
	opacity: 0.8;

	font-size: 80%;
}

.WKCReadSourcesContentListChildListItemUnreadCount {
	display: none !important;
}

.WKCReadSourcesContentListChildListItemUnreadCount {
	padding: 1px 4px;
	border-radius: 10px;
	min-width: 15px;
	
	background: #7f7f7f;
	color: #ffffff;
	
	font-size: 80%;
	font-weight: bold;
	text-align: center;

	/* browser quirks */
	margin-top: -3px;
}

.WKCReadSourcesContentListChildListItemUnreadCount .WKCReadText {
	opacity: 0.8;
}

#WKCReadMaster {
	/* WKCReadFlexboChild */
	flex-basis: 300px;
	flex-shrink: 0;
	max-width: 300px;

	/* WKCReadMasterFlexboxParent */
	display: flex;
	flex-direction: column;
}

#WKCReadMasterToolbar {
	border-top: 1px solid #ddd;
	
	/* WKCReadMasterFlexboChild */
	flex-shrink: 0;
}

#WKCReadMasterContent {
	/* WKCReadMasterFlexboChild */
	overflow: auto;
}

.WKCReadMasterContentListItem {
	padding: 7px;
	border-bottom: 1px solid #ddd;

	font-size: 80%;
}

.WKCReadMasterContentListItemUnread .WKCReadMasterContentListItemReadStatus {
	display: inline-block;
	visibility: visible;
}

.WKCReadMasterContentListItemUnread .WKCReadMasterContentListItemContextSource {
	font-weight: bold;
}

.WKCReadMasterContentListItemReadStatus {
	display: none;
	margin-right: 5px;
	visibility: hidden;
}

.WKCReadMasterContentListItemSelected {
	background: #e6e6e6;
}

.WKCReadMasterContentListItemContext {
	/* WKCReadMasterContentListItemContextFlexboxParent */
	display: flex;
}

.WKCReadMasterContentListItemContextSource {
	white-space: nowrap;
	overflow: hidden;

	/* WKCReadMasterContentListItemContextFlexboChild */
	flex-grow: 1;
}

.WKCReadMasterContentListItemContextTiming {
	padding-left: 5px;

	opacity: 0.5;
	
	/* WKCReadMasterContentListItemContextFlexboChild */
	white-space: nowrap;
}

.WKCReadMasterContentListItemHeadline {
	display: block;
	margin-top: 7px;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.WKCReadMasterContentListItemSnippet {
	display: block;
	margin-top: 7px;

	opacity: 0.5;
}

#WKCReadMasterLoader {
	padding: 20px;
}

#WKCReadMasterLoader .ispinner {
	margin: auto;
}

#WKCReadDetail {
	border-left: 1px solid #ddd;

	/* WKCReadFlexboChild */
	flex-grow: 1;

	/* WKCReadDetailFlexboxParent */
	display: flex;
	flex-direction: column;
}

.WKCReadDetailInactive {
	border-top: 1px solid #ddd;
	/*display: flex;*/
	justify-content: center;
	/*align-items: center;*/
}

.WKCReadDetailInactive #WKCReadDetailToolbar, .WKCReadDetailInactive #WKCReadDetailContent {
	display: none;
}

.WKCReadDetailInactive #WKCReadDetailPlaceholder {
	display: block;
	width: 100%;
	text-align: center;
}

#WKCReadDetailPlaceholder {
	opacity: 0.5;
	display: none;
}

#WKCReadDetailContent {
	/* WKCReadDetailFlexboChild */
	overflow: auto;
}

#WKCReadDetailContentContext {
	padding: 10px;
	border-bottom: 1px solid #ddd;

	/* WKCReadDetailContentContext parent */
	display: flex;
}

#WKCReadDetailContentContextSource {
	display: inline;
	margin: 0;

	/* WKCReadDetailContentContext child */
	flex-grow: 1;
}

#WKCReadDetailContentContextLink {
	color: inherit;
}

#WKCReadDetailContentContextTiming {
	opacity: 0.5;
		
	/* WKCReadDetailContentContext child */
	white-space: nowrap;
}

#WKCReadDetailContentRemote {
	padding: 10px;

	background: #e9f8ff
}

#WKCReadDetailContent article {
	padding: 10px;
}

#WKCReadDetailContentBody {
	width: 100%;

	overflow-x: scroll;
}

.WKCReadDetailContentBodyFile {
	font-family: 'monaco', monospace;

	line-height: 1.4;
}

#WKCReadDetailContentBody img {
	max-width: 100%;
	height: auto;
}

#WKCReadDetailContentBody ins {
	background: #eaffbf;
}

#WKCReadDetailContentBody del {
	background: #fdbfc0;
}
