<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestKVCWriteMasterListItemDispatchCreate</strong>
	<span id="TestKVCWriteMasterListItemDispatchCreate">0</span>
	<span id="TestKVCWriteMasterListItemDispatchCreateData">undefined</span>
</p>

<p>
	<strong>TestKVCWriteMasterListItemDispatchClick</strong>
	<span id="TestKVCWriteMasterListItemDispatchClick">0</span>
	<span id="TestKVCWriteMasterListItemDispatchClickData">undefined</span>
</p>

<p>
	<strong>TestKVCWriteMasterListItemDispatchArrow</strong>
	<span id="TestKVCWriteMasterListItemDispatchArrow">0</span>
	<span id="TestKVCWriteMasterListItemDispatchArrowData">undefined</span>
</p>

<p>
	<strong>TestKVCWriteMasterListItemDispatchFilter</strong>
	<span id="TestKVCWriteMasterListItemDispatchFilter">0</span>
	<span id="TestKVCWriteMasterListItemDispatchFilterData">undefined</span>
</p>

</body>
</html>
