<%
locals.OLSKPageTitle = 'Not found'; // #localize
%>

<%- include('../_shared/common/layout-header.ejs') %>

<h1><%= locals.OLSKPageTitle %></h1>
<p>
	<a href="javascript:window.history.back();">Go back</a><!-- #localize -->
	or 
	<a href="/">start over</a><!-- #localize -->
</p>

<%- include('../_shared/common/layout-footer.ejs') %>
