body {
  font-family: 'Helvetica Neue';
  padding: 20px;
}

.WKCSubscriptionsHidden {
	display: none;
}

#WKCSubscriptionsModuleCreateLoader {
	padding: 20px 0;
}

#WKCSubscriptionsModuleCreateAlternatives {
	padding: 10px;

	border: 1px solid #408002;
	background: #ccff66;
}
