body {
  font-family: 'Helvetica Neue';
  padding: 20px;
}

.WKCAppSubscriptionsHidden {
	display: none;
}

#WKCSubscriptionsLoader {
	padding: 20px 0;
}

#WKCAppSubscriptionsConfirmationPreviewPageAlternatives {
	padding: 10px;

	border: 1px solid #408002;
	background: #ccff66;
}
