<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KVCWriteTemplateDispatchUpdate</strong>
	<span id="TestKVCWriteTemplateDispatchUpdate">0</span>
	<span id="TestKVCWriteTemplateDispatchUpdateData">undefined</span>
</p>
