:root {
	--OLSKCommonBackground: var(--KVCCommonBackground);
	--OLSKCommonForeground: var(--KVCCommonForeground);
}

body {
	background: var(--KVCCommonBackground);
	color: var(--KVCCommonForeground);
}
