:root {
	--OLSKCommonBackground: var(--KVCCommonBackground);
	--OLSKCommonForeground: var(--KVCCommonForeground);
}

body {
	background: var(--KVCCommonBackground);
	color: var(--KVCCommonForeground);
}

.KVCVitrineVideo2 {
	--OLSKCommonVideoWide: 750;
	--OLSKCommonVideoHigh: 320;
}
