.WKCWriteDetail {
	/* WKCWriteDetailFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 760px) {

.WKCWriteDetail {
	min-height: 100%;
}

}

.WKCWriteDetailPlaceholder {
	opacity: 0.5;
	text-align: center;

	/* WKCWriteDetailFlexbox:Child */
	flex-grow: 1;

	/* WKCWriteDetailPlaceholderFlexbox:Parent */
	display: flex;
	justify-content: center;
	align-items: center;
}

:global(.OLSKIsLoading) .WKCWriteDetailPlaceholder {
	visibility: hidden;
}

.WKCWriteDetailToolbar {
	border-bottom: var(--WKCBorderStyle);

	/* WKCWriteDetailFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.WKCWriteDetailToolbar {
	/* browser quirks */
	z-index: 999;
}

}

@media screen and (min-width: 760px) {

.WKCWriteDetailToolbarBackButton {
	display: none;
}

}

.WKCWriteDetail :global(.WKCWriteEditor) {
	/* WKCWriteDetailFlexbox:Child */
	flex-grow: 1;
}

@media screen and (min-width: 760px) {

.WKCWriteDetail :global(.WKCWriteEditor) {
	/* WKCWriteEditorStation:Parent */
	position: relative;
}

}

@media screen and (max-width: 760px) {

.WKCWriteDetail :global(.WKCWriteEditor) {
	min-height: 100%;
}

}

/* CodeMirror */

.WKCWriteDetail :global(.CodeMirror) {
	font-family: inherit;
	font-size: 14px;
}

@media screen and (min-width: 760px) {

.WKCWriteDetail :global(.CodeMirror) {
	height: 100%;

	/* WKCWriteEditorStation:Child */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

}

@media screen and (max-width: 760px) {

.WKCWriteDetail :global(.CodeMirror) {
	/* CodeMirrorResizeToContent */
	height: auto;
}

}

.WKCWriteDetail :global(.CodeMirror-scroll) {
	background: #f8f8f8;
}

@media screen and (max-width: 760px) {

.WKCWriteDetail :global(.CodeMirror-scroll) {
	min-height: calc(100vh - 52px - 52px);
}

}

.WKCWriteDetail :global(.CodeMirror-lines) {
	/* override defaults */
	padding: 10px;
}

.WKCWriteDetail :global(.CodeMirror pre) {
	/* override defaults */
	padding: 0;
}

.WKCWriteDetail :global(.CodeMirror-line:nth-child(1)) {
	font-weight: bold;
}

.WKCWriteDetail :global(.cm-link:hover) {
  cursor: pointer;
}
