<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return {
				OLSKSharedPageCurrentLanguage: '<%= OLSKSharedPageCurrentLanguage %>',
			}[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestWIKWriteDetailDispatchBack</strong>
	<span id="TestWIKWriteDetailDispatchBack">0</span>
</p>

<p>
	<strong>TestWIKWriteDetailDispatchDiscard</strong>
	<span id="TestWIKWriteDetailDispatchDiscard">0</span>
	<span id="TestWIKWriteDetailDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>TestWIKWriteDetailDispatchUpdate</strong>
	<span id="TestWIKWriteDetailDispatchUpdate">0</span>
</p>

</body>
</html>
