<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<link rel="stylesheet" type="text/css" href="/_shared/__external/codemirror/lib/codemirror.css">
	<script type="text/javascript" src="/_shared/__external/codemirror/lib/codemirror.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/edit/continuelist.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/mode/overlay.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/mode/markdown/markdown.js"></script>
	<script type="text/javascript" src="/_shared/__external/codemirror/mode/gfm/gfm.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/search/search.js"></script>
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/search/searchcursor.js"></script>
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/search/jump-to-line.js"></script>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/codemirror/addon/dialog/dialog.css">
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/dialog/dialog.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/keymap/sublime.js"></script>

	<script type="text/javascript" src="/_shared/__external/url-parse/dist/url-parse.min.js"></script>

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return {
				OLSKSharedPageCurrentLanguage: '<%= OLSKSharedPageCurrentLanguage %>',
			}[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestWIKWriteDetailDispatchBack</strong>
	<span id="TestWIKWriteDetailDispatchBack">0</span>
</p>

<p>
	<strong>TestWIKWriteDetailDispatchPublish</strong>
	<span id="TestWIKWriteDetailDispatchPublish">0</span>
</p>

<p>
	<strong>TestWIKWriteDetailDispatchVersions</strong>
	<span id="TestWIKWriteDetailDispatchVersions">0</span>
</p>

<p>
	<strong>TestWIKWriteDetailDispatchDiscard</strong>
	<span id="TestWIKWriteDetailDispatchDiscard">0</span>
	<span id="TestWIKWriteDetailDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>TestWIKWriteDetailDispatchUpdate</strong>
	<span id="TestWIKWriteDetailDispatchUpdate">0</span>
	<span id="TestWIKWriteDetailDispatchUpdateData">undefined</span>
</p>

<p>
	<button id="TestWIKWriteDetailFocus" onclick="window.WIKWriteDetailBehaviour.TestWIKWriteDetailFocus()">TestWIKWriteDetailFocus</button>
</p>

</body>
</html>
