.WIKWriteDetail {
	/* WIKWriteDetailFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

.WIKWriteDetailPlaceholder {
	opacity: 0.5;
	text-align: center;

	/* WIKWriteDetailFlexbox:Child */
	flex-grow: 1;

	/* WIKWriteDetailPlaceholderFlexbox:Parent */
	display: flex;
	justify-content: center;
	align-items: center;
}

:global(.OLSKIsLoading) .WIKWriteDetailPlaceholder {
	visibility: hidden;
}

.WIKWriteDetailToolbar {
	border-bottom: var(--WKCBorderStyle);

	/* WIKWriteDetailFlexbox:Child */
	flex-shrink: 0;

	/* browser quirks */
	z-index: 999;
}

/* CodeMirror */

.WIKWriteDetail :global(.WKCWriteEditor) {
	/* WIKWriteDetailFlexbox:Child */
	flex-grow: 1;

	/* WIKWriteDetailFormStationParent */
	/*position: relative;*/
	min-height: 100%;
}

.WIKWriteDetail {
	min-height: 100%;
}

.WIKWriteDetail :global(.CodeMirror) {
	font-family: inherit;
	font-size: 14px;
	background: #f8f8f8;

	/* CodeMirrorResizeToContent */
	height: auto;
	/*height: 100vh;*/
}

.WIKWriteDetail :global(.CodeMirror-scroll) {
}

.WIKWriteDetail :global(.CodeMirror-lines) {
	/* override defaults */
	padding: 10px;
}

.WIKWriteDetail :global(.CodeMirror pre) {
	/* override defaults */
	padding: 0;
}

.WIKWriteDetail :global(.CodeMirror-line:nth-child(1)) {
	font-weight: bold;
}

.WIKWriteDetail :global(.cm-link:hover) {
  cursor: pointer;
}
