.WIKWriteDetail {
	/* WIKWriteDetailFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 760px) {

.WIKWriteDetail {
	min-height: 100%;
}

}

.WIKWriteDetailPlaceholder {
	opacity: 0.5;
	text-align: center;

	/* WIKWriteDetailFlexbox:Child */
	flex-grow: 1;

	/* WIKWriteDetailPlaceholderFlexbox:Parent */
	display: flex;
	justify-content: center;
	align-items: center;
}

:global(.OLSKIsLoading) .WIKWriteDetailPlaceholder {
	visibility: hidden;
}

.WIKWriteDetailToolbar {
	border-bottom: var(--WKCBorderStyle);

	/* WIKWriteDetailFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.WIKWriteDetailToolbar {
	/* browser quirks */
	z-index: 999;
}

}

.WIKWriteDetail :global(.WKCWriteEditor) {
	/* WIKWriteDetailFlexbox:Child */
	flex-grow: 1;
}

@media screen and (min-width: 760px) {

.WIKWriteDetail :global(.WKCWriteEditor) {
	/* WIKWriteEditorStation:Parent */
	position: relative;
}

}

@media screen and (max-width: 760px) {

.WIKWriteDetail :global(.WKCWriteEditor) {
	min-height: 100%;
}

}

/* CodeMirror */

.WIKWriteDetail :global(.CodeMirror) {
	font-family: inherit;
	font-size: 14px;
}

@media screen and (min-width: 760px) {

.WIKWriteDetail :global(.CodeMirror) {
	height: 100%;

	/* WIKWriteEditorStation:Child */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

}

@media screen and (max-width: 760px) {

.WIKWriteDetail :global(.CodeMirror) {
	/* CodeMirrorResizeToContent */
	height: auto;
}

}

.WIKWriteDetail :global(.CodeMirror-scroll) {
	background: #f8f8f8;
}

@media screen and (max-width: 760px) {

.WIKWriteDetail :global(.CodeMirror-scroll) {
	min-height: calc(100vh - 52px - 52px);
}

}

.WIKWriteDetail :global(.CodeMirror-lines) {
	/* override defaults */
	padding: 10px;
}

.WIKWriteDetail :global(.CodeMirror pre) {
	/* override defaults */
	padding: 0;
}

.WIKWriteDetail :global(.CodeMirror-line:nth-child(1)) {
	font-weight: bold;
}

.WIKWriteDetail :global(.cm-link:hover) {
  cursor: pointer;
}
