<header id="KVCSharedHeader">
	<a href="<%= OLSKCanonicalFor('WKCReadRoute') %>"><%= OLSKLocalized('KVCSharedHeaderTextWKCRead') %></a>
	<span>|</span>
	<a href="<%= OLSKCanonicalFor('WKCLoginDestroyRoute') %>"><%= OLSKLocalized('WKCLoginDestroyTitle') %></a>
</header>
