#KVCSharedHeader {
	height: 14px;
	padding: 5px;
	
	background: #e6e6e6;

	font-size: 80%;
}

#KVCSharedHeader a {
	text-decoration: none;
	font-weight: bold;

	color: #000;
}

.KVCSharedToolbar {
	padding: 0 4px;
	border-bottom: 1px solid #ddd;

	/* Firefox header spacing */
	line-height: 0;

	/* KVCSharedToolbarFlexboxParent */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.KVCSharedToolbarElementGroup {
	margin: 10px 2px;
}

.KVCSharedToolbarElementGroup button {
	margin: 0 2px;
}

.KVCSharedFlash {
	display: block;
	padding: 10px;
	border: 1px solid #d9d9d9;
	background: #f3f3f3;
}

.KVCSharedToolbarButton {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.KVCSharedToolbarButton:disabled {
	opacity: 0.3;
}
