body {
	font-family: Helvetica, sans-serif;

	background: #eeeeee;
}

h1, h2,  h3 {
	font-family: 'Helvetica Neue';
}

h1:first-child {
	margin-top: 10px;
}

header,article {
	max-width: 400px;
	padding: 20px;

	margin: 0 auto;
}

article {

	font-family: 'Lucida Grande', sans-serif;
	font-size: 10pt;
	background: #ffffff;

	word-wrap: break-word;
}

blockquote {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #999;
}

ul {
	padding-left: 20px;
}

li {
	margin: 5px 0;
}

hr {
	height: 1px;
	border: none;

	background: black;
}
