body {
	font-family: Helvetica, sans-serif;

	background: #eeeeee;
}

header,article {
	max-width: 400px;
	padding: 20px;

	margin: 0 auto;
}

article {
	background: #ffffff;

	word-wrap: break-word;
}

blockquote {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #999;
}

ul {
	padding-left: 20px;
}

li {
	margin: 5px 0;
}

hr {
	border: 1px solid #dddddd;
	border-bottom: none;

	margin: 15px auto;
}
