<%
locals.OLSKPageTitle = locals.KVCNoteObject.KVCNoteDetectedTitle;
locals.OLSKPageAssets = [
	'/_shared/__external/OLSKLayout/ui-style.css',
];
locals.OLSKPageMetaTags = {
	viewport: 'width=device-width',
};
%>

<%- include('../_shared/common/layout-header.ejs') %>

<div class="OLSKCommon">
	<header>
		<a href="/">Home</a>
	</header>

	<hr>

	<article>
		<h1><%= locals.KVCNoteObject.KVCNoteDetectedTitle %></h1>

		<%- locals.KVCNoteObject.KVCNoteDetectedBody %>
	</article>
</div>

<%- include('../_shared/common/layout-footer.ejs') %>
