<%
locals.OLSKPageTitle = locals.WKCNoteObject.WKCNoteDetectedTitle;
locals.OLSKPageAssets = [
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
%>

<%- include('../_shared/common/layout-header.ejs') %>

<header>
	<a href="/">Home</a>
</header>

<article>
	<h1><%= locals.WKCNoteObject.WKCNoteDetectedTitle %></h1>

	<%- locals.WKCNoteObject.WKCNoteDetectedBody %>
</article>

<%- include('../_shared/common/layout-footer.ejs') %>
