<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return {
				OLSKSharedPageCurrentLanguage: '<%= OLSKSharedPageCurrentLanguage %>',
			}[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestWKCWriteMasterDispatchCreate</strong>
	<span id="TestWKCWriteMasterDispatchCreate">0</span>
	<span id="TestWKCWriteMasterDispatchCreateData">undefined</span>
</p>

<p>
	<strong>TestWKCWriteMasterDispatchClick</strong>
	<span id="TestWKCWriteMasterDispatchClick">0</span>
	<span id="TestWKCWriteMasterDispatchClickData">undefined</span>
</p>

<p>
	<strong>TestWKCWriteMasterDispatchFilter</strong>
	<span id="TestWKCWriteMasterDispatchFilter">0</span>
	<span id="TestWKCWriteMasterDispatchFilterData">undefined</span>
</p>

</body>
</html>
