.WKCWriteMaster {
	border-right: var(--WKCBorderStyle);

	/* WKCWriteMasterFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

.WKCWriteMasterToolbar {
	border-bottom: var(--WKCBorderStyle);

	/* WKCWriteMasterFlexbox:Child */
	flex-shrink: 0;
}

.WKCWriteMasterToolbar :global(.OLSKToolbarElementGroup) {
	margin-left: 4px;
}

@media screen and (max-width: 760px) {

.WKCWriteMasterToolbar :global(.OLSKToolbarElementGroup) {
	margin-left: 8px;
}

}

.WKCWriteMasterBody {
	overflow: auto;
	
	/* WKCWriteMasterFlexbox:Child */
	flex-grow: 1;
}

.WKCWriteMasterBody :global(.OLSKResultsListItemSelected) {
	background: #e6e6e6;
}

@media screen and (min-width: 760px) {

.WKCWriteMasterFocused :global(.OLSKResultsListItemSelected) {
	background: #1a81ff;
	color: white;
}

}

.WKCWriteMasterDebug {
	padding: 10px;
}
