.WKCWriteFooter {
	border-top: var(--WKCBorderStyle);
	
	/* AppContainerFlexboxChild */
	flex-shrink: 0;

	/* WKCWriteFooterFlexboxParent */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.WKCWriteFooter a {
	color: var(--WKCCommonForeground);
}

.WKCWriteFooter :global(.OLSKToolbar) {
	flex-grow: 1;
}

.WKCWriteFooter :global(.OLSKToolbar > div) {
	display: flex;
	align-items: center;
}

h1 {
	margin: 0;

	font-size: 20px;
}

.WKCWriteFooter :global(.OLSKToolbarElementGroup > *:not(:first-child)) {
	margin-left: 10px;
}

:global(#RCSLanguageSwitcher span) {
	/* browser quirks */
	padding-left: 4px;
}

.WKCWriteFooterStorageButton {
	padding: 0 5px;
}

.WKCWriteFooterStorageButton :global(svg,img) {
	width: 20px;
	height: 20px;
}

.WKCWriteFooterStorageButton :global(path) {
	fill: black;
}

.WKCWriteFooterStorageButton.OSWIconVisible img {
	display: none;
}
