<div class="ispinner ispinner--gray ispinner--animating">
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
  <div class="ispinner__blade"></div>
</div>
