<header id="WKCSharedHeader">
	<a href="<%= OLSKCanonicalFor('WKCRouteSubscriptions') %>"><%= OLSKLocalized('WKSharedHeaderSubscriptionsText') %></a>
	<span>|</span>
	<a href="<%= OLSKCanonicalFor('WKCRouteNotes') %>"><%= OLSKLocalized('WKSharedHeaderNotesText') %></a>
</header>
