<div class="KVCRootLink">

<%- include('../../../node_modules/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalized('KVCVitrineRoute'),
	OLSKRootLinkImageURL: process.env.OLSK_LAYOUT_TOUCH_ICON_URL,
}) %>

</div>
