<a class="KVCRootLink" href="<%= OLSKCanonicalLocalizedFor('EMTVitrineRoute') %>" title="<%= OLSKFormatted(OLSKLocalized('KVCSharedColonSeparatedFormat'), OLSKLocalized('KVCRootLinkLogoLabel'), OLSKLocalized('KVCRootLinkText')) %>">
	<img class="KVCRootLinkLogo" role="img" src="/_shared/KVCRootLink/ui-assets/identity.svg">
</a>
