<div class="KVCRootLink">

<%- include('../__external/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalized('KVCVitrineRoute'),
	OLSKRootLinkImageURL: '/_shared/KVCRootLink/ui-assets/identity.svg',
}) %>

</div>
