<a class="KVCRootLink" href="<%= OLSKCanonicalLocalizedFor('KVCVitrineRoute') %>" title="<%= OLSKFormatted(OLSKLocalized('KVCSharedColonSeparatedFormat'), OLSKLocalized('KVCRootLinkLogoLabel'), OLSKLocalized('KVCRootLinkText')) %>">
	<img class="KVCRootLinkLogo" role="presentation" src="/_shared/KVCRootLink/ui-assets/identity.svg">
</a>
