<!DOCTYPE html>
<html<%- locals.OLSKSharedPageCurrentLanguage ? [' lang="', OLSKSharedPageCurrentLanguage, '"'].join('') : ''; %>>

<head>
	<%- (function() {
	let outputData = [];

	if (locals.OLSKPageTitle) {
		outputData.push(`<title>${ locals.OLSKPageTitle }</title>`);
	}

	if (locals.OLSKPageDescription) {
		outputData.push(`<meta name="description" content="${ locals.OLSKPageDescription }" />`);
	}

	outputData.push(...[
		`<meta http-equiv="Content-Type" content="text/html; charset=utf-8">`,
		`<link rel="icon" href="data:;base64,iVBORw0KGgo=">`, // https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests
		]);

	outputData.push(...Object.keys(locals.OLSKPageMetaTags || {}).map(function(e) {
		return `<meta name="${ e }" content="${ locals.OLSKPageMetaTags[e] }">`;
	}));

	if (locals.OLSKSharedActiveRouteConstant) {
		outputData.push(`<link rel="canonical" href="${ OLSKCanonicalFor(locals.OLSKSharedActiveRouteConstant) }" />`);
	}

	outputData.push(...(locals.OLSKSharedPageLanguagesAvailable || []).map(function (e) {
		return `<link rel="alternate" hreflang="${ e }" href="${ OLSKCanonicalLocalizedFor(OLSKSharedActiveRouteConstant, {
			OLSKRoutingLanguage: e,
		}) }" />`;
	}));

	if (locals.OLSKPagePublicConstants) {
		outputData.push(`<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return ${ JSON.stringify(OLSKPagePublicConstants) }[inputData];
		};
	</script>`);
	}

	if (locals.OLSKPageUseLivereload) {
		outputData.push(`<script>
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
  ':35729/livereload.js?snipver=1"></' + 'script>')
</script>`)
	};

	if (process.env.WKC_TEMP_TOUCH_ICON_URL) {
		outputData.push(`<link rel="apple-touch-icon" href="${ process.env.WKC_TEMP_TOUCH_ICON_URL }">`);
	}

	let pathToTag = function (e) {
		let path = (e[0] === '/' ? '' : `/${ locals.OLSKSharedPageControllerSlug }/`).concat(e);

		if (path.split('.').pop() === 'css') {
			return `<link rel="stylesheet" type="text/css" ${ path.match('-mobile.') ? 'media="screen and (max-width: 760px)"' : '' } href="${ path }">`;
		}

		if (path.split('.').pop() === 'js') {
			return `<script src="${ path }"></script>`;
		}
	};

	if (locals.OLSKPagePublicRouteKeys) {
		outputData.push(...[
			'/_shared/__external/OLSKRouting/main.js',
			].map(pathToTag));
		
		outputData.push(`<script type="text/javascript">
		window.OLSKCanonicalFor = function(routeConstant, optionalParams) {
			return OLSKRouting.OLSKRoutingCanonicalPathWithRoutePathAndOptionalParams((${ JSON.stringify(OLSKPagePublicRouteKeys.reduce(function (map, e) {
				map[e] = OLSKRouteObjectFor(e).OLSKRoutePath;
				return map;
			}, {})) })[routeConstant], optionalParams);
		};
	</script>`);
	}

	outputData.push(...(locals.OLSKPageAssets || []).map(pathToTag));

	return outputData.join('\n\t');
})(); %>
</head>

<body>
