<script type="text/javascript">
	(async function () {
		if (!navigator.serviceWorker) {
			return console.log('Service worker not available');
		}

		let registration = await navigator.serviceWorker.register('<%= OLSKCanonicalFor('WKCServiceWorkerRoute') %>');
		
		console.log('Service Worker Registered');

		registration.addEventListener('updatefound', (event) => {
			console.log('updatefound', event);

			let nextWorker = registration.installing;

			nextWorker.addEventListener('statechange', (event) => {
				console.log('statechange', nextWorker.state, event, navigator.serviceWorker.controller);

				if (nextWorker.state !== 'installed') {
					return;
				}

				if (!navigator.serviceWorker.controller) {
					return;
				}

				document.getElementById('WKCSharedUpdateNotification').className = '';
			});

			document.getElementById('WKCSharedUpdateNotificationReloadButton').addEventListener('click', () => {
				nextWorker.postMessage({
					action: 'skipWaiting',
				});
			});

			document.getElementById('WKCSharedUpdateNotification').addEventListener('click', () => {
				document.getElementById('WKCSharedUpdateNotification').remove();
			});
		});

		navigator.serviceWorker.addEventListener('controllerchange', (event) => {
			console.log('controllerchange', event);

			window.location.reload();
		});
	})();
</script>

<div id="WKCSharedUpdateNotification" class="WKCSharedHidden">
	<%= OLSKLocalized('WKCUpdateAvailableText') %> <button id="WKCSharedUpdateNotificationReloadButton"><%= OLSKLocalized('WKCUpdateReloadText') %></button>
</div>

</body>
</html>
