<!DOCTYPE html>
<html<%- locals.OLSKSharedPageCurrentLanguage ? [' lang="', OLSKSharedPageCurrentLanguage, '"'].join('') : ''; %>>

<head>
	<%- (function() {
	let outputData = [];

	if (locals.OLSKPageTitle) {
		outputData.push(`<title>${ locals.OLSKPageTitle }</title>`);
	}

	if (locals.OLSKPageDescription) {
		outputData.push(`<meta name="description" content="${ locals.OLSKPageDescription }" />`);
	}

	outputData.push(...[
		`<meta http-equiv="Content-Type" content="text/html; charset=utf-8">`,
		`<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">`,
		]);

	outputData.push(...Object.keys(locals.OLSKPageMetaTags || {}).map(function(e) {
		return `<meta name="${ e }" content="${ locals.OLSKPageMetaTags[e] }">`;
	}));

	if (locals.OLSKPagePublicConstants) {
		outputData.push(`<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return ${ JSON.stringify(OLSKPagePublicConstants) }[inputData];
		};
	</script>`);
	}

	if (process.env.WKC_TEMP_TOUCH_ICON_URL) {
		outputData.push(`<link rel="apple-touch-icon" href="${ process.env.WKC_TEMP_TOUCH_ICON_URL }">`);
	}

	let pathToTag = function (e) {
		let path = (e[0] === '/' ? '' : `/${ locals.OLSKSharedPageControllerSlug }/`).concat(e);

		if (path.split('.').pop() === 'css') {
			return `<link rel="stylesheet" type="text/css" ${ path.match('-mobile.') ? 'media="screen and (max-width: 760px)"' : '' } href="${ path }">`;
		}

		if (path.split('.').pop() === 'js') {
			return `<script src="${ path }"></script>`;
		}
	};

	outputData.push(...[
		'/_shared/__external/normalize.css/normalize.css',
		'/_shared/__external/d3/dist/d3.min.js',
	].map(pathToTag));

	if (locals.OLSKPagePublicLocalizedStringKeys) {
		outputData.push(...[
			'/_shared/__external/OLSKInternational/main.js',
			'/_shared/__external/OLSKString/main.js',
			].map(pathToTag));
		
		outputData.push(`<script type="text/javascript">
		window.OLSKFormatted = OLSKString.OLSKStringWithFormat;
		window.OLSKLocalized = function(translationConstant) {
			return OLSKInternational.OLSKInternationalLocalizedString(translationConstant, ${ JSON.stringify(OLSKPagePublicLocalizedStringKeys.reduce(function(map, e) {
					map[e] = OLSKLocalized(e);
					return map;
				}, {})) });
		};
	</script>`);
	}

	if (locals.OLSKPagePublicRouteKeys) {
		outputData.push(...[
			'/_shared/__external/OLSKRouting/main.js',
			].map(pathToTag));
		
		outputData.push(`<script type="text/javascript">
		window.OLSKCanonicalFor = function(routeConstant, optionalParams) {
			return OLSKRouting.OLSKRoutingCanonicalPathWithRoutePathAndOptionalParams((${ JSON.stringify(OLSKPagePublicRouteKeys.reduce(function (map, e) {
				map[e] = OLSKRouteObjectFor(e).OLSKRoutePath;
				return map;
			}, {})) })[routeConstant], optionalParams);
		};
	</script>`);
	}

	outputData.push(...(locals.OLSKPageAssets || []).map(pathToTag));

	return outputData.join('\n\t');
})(); %>
	<link rel="manifest" href="manifest.json">

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
