<div class="KVCFeatureList">

<%- include('../../../../node_modules/OLSKFeatureList/main.ejs', {
	OLSKFeatureListData: OLSKLocalized('KVCFeatureListArray').map(function (e, i) {
		return e.concat([
			'/_shared/__external/OLSKUIAssets/_OLSKSharedFeatureBrackets.svg',
			'/_shared/__external/OLSKUIAssets/_OLSKSharedFeaturePublish.svg',
		][i]);
	}),
}) %>

</div>
