<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKLayout/ui-style.css',
];
%>

<div class="OLSKCommon OLSKCommonCapped">
	<%- include('main.ejs') %>
</div>
