<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
];
%>

<div class="OLSKDecor OLSKDecorCapped">
	<%- include('main.ejs') %>
</div>
