:root {
	--WIKBorderStyle: 1px solid #ddd;
}

.WIKSharedToolbar {
	padding: 5px;
	border-bottom: var(--WIKBorderStyle);
}

#remotestorage-widget {
	bottom: 0;
	right: 0;
}

.WKC_ContextMobileExclusive {
	display: none;
}
