<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<link rel="stylesheet" type="text/css" href="/_shared/__external/codemirror/lib/codemirror.css">
	<script type="text/javascript" src="/_shared/__external/codemirror/lib/codemirror.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/edit/continuelist.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/mode/overlay.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/mode/markdown/markdown.js"></script>
	<script type="text/javascript" src="/_shared/__external/codemirror/mode/gfm/gfm.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/search/search.js"></script>
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/search/searchcursor.js"></script>
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/search/jump-to-line.js"></script>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/codemirror/addon/dialog/dialog.css">
	<script type="text/javascript" src="/_shared/__external/codemirror/addon/dialog/dialog.js"></script>
	
	<script type="text/javascript" src="/_shared/__external/codemirror/keymap/sublime.js"></script>

	<script type="text/javascript" src="/_shared/__external/url-parse/dist/url-parse.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/_shared/__external/launchlet/__compiled/launchlet.css">
	<script type="text/javascript" src="/_shared/__external/launchlet/__compiled/launchlet.js"></script>

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestKVCWriteDetailItem</strong>
	<span id="TestKVCWriteDetailItem">undefined</span>
</p>

<p>
	<strong>TestKVCWriteDetailDispatchBack</strong>
	<span id="TestKVCWriteDetailDispatchBack">0</span>
</p>

<p>
	<strong>TestKVCWriteDetailDispatchJump</strong>
	<span id="TestKVCWriteDetailDispatchJump">0</span>
</p>

<p>
	<strong>TestKVCWriteDetailDispatchConnect</strong>
	<span id="TestKVCWriteDetailDispatchConnect">0</span>
</p>

<p>
	<strong>TestKVCWriteDetailDispatchPublish</strong>
	<span id="TestKVCWriteDetailDispatchPublish">0</span>
</p>

<p>
	<strong>TestKVCWriteDetailDispatchRetract</strong>
	<span id="TestKVCWriteDetailDispatchRetract">0</span>
</p>

<p>
	<strong>TestKVCWriteDetailDispatchVersions</strong>
	<span id="TestKVCWriteDetailDispatchVersions">0</span>
</p>

<p>
	<strong>TestKVCWriteDetailDispatchDiscard</strong>
	<span id="TestKVCWriteDetailDispatchDiscard">0</span>
</p>

<p>
	<strong>TestKVCWriteDetailDispatchUpdate</strong>
	<span id="TestKVCWriteDetailDispatchUpdate">0</span>
</p>

<p>
	<strong>TestKVCWriteDetailDispatchSetAsRootPage</strong>
	<span id="TestKVCWriteDetailDispatchSetAsRootPage">0</span>
	<span id="TestKVCWriteDetailDispatchSetAsRootPageData">undefined</span>
</p>

<p>
	<button id="InterfaceTestKVCWriteDetailEditorFocusButtonDidClick" onclick="window.KVCWriteDetailBehaviour.TestKVCWriteDetailEditorFocus()">TestKVCWriteDetailEditorFocus</button>
</p>

</body>
</html>
