html, body {
  height:100%;
}

body {
  font-family: 'Helvetica Neue';
	font-size: 90%;
}

#OLSKSharedContainer {
	/* flexbox-container */
	display: flex;
	flex-flow: column;
	height: 100%;
}

#WKCAppNotesToolbar {
	font-size: 80%;
	padding: 10px;
	border-bottom: 1px solid #d9d9d9;

	/* flexbox-container */
	flex: 0 1 auto;

	/* flexbox-toolbar */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#WKCAppNotesMain {
	/*background: red;*/

	/* flexbox-container */
	flex: 1 1 auto;

	/* flexbox-main */
	display: flex;
	flex-direction: row;
}

#WKCAppNotesMainX {
	/* allow child to inherit height */
	position: relative;
}

#WKCAppNotesList {
	border-right: 1px solid #d9d9d9;
	/*background: yellow;*/
	/*opacity: 0.5;*/
	flex-basis: 300px;
}

#WKCAppNotesListX {
	/* inherit height from parent */
	position: absolute;
	left: 0;
	height: 100%;
}

#WKCAppNotesEditor {
	/*background: blue;*/
	/*opacity: 0.5;*/
	flex-grow: 1;
}

#WKCAppNotesEditorX {
	/* inherit height from parent */
	position: absolute;
	right: 0;
	height: 100%;
}

#WKCAppNotesEditor textarea {
	width: 100%;
	padding: 0;

	border: none;

	resize: none;
}

#WKCAppNotesFooter {
	font-size: 80%;
	background: #F3F3F3;
	padding: 10px;
	border-top: 1px solid #d9d9d9;

	/* flexbox-container */
	flex: 0 1 auto;

	/* flexbox-footer */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
