body {
	font-family: 'Helvetica Neue';
	font-size: 90%;
}

#WKCCMSHeader {
	padding: 10px;
	overflow: hidden;

	background: #efefef;
	font-size: 80%;
}

#WKCCMSHeader div:first-child {
	float: left;
}

#WKCCMSHeader div:last-child {
	float: right;
}
