html, body {
  height:100%;
}

body {
  font-family: 'Helvetica Neue';
	font-size: 90%;
}

#OLSKSharedContainer {
	height: 100%;
}

#WKCAppNotes {
	height: 100%;

	/* flexbox-container */
	display: flex;
	flex-flow: column;
}

#WKCAppNotesToolbar {
	font-size: 80%;
	padding: 10px;
	border-bottom: 1px solid #d9d9d9;

	/* flexbox-container */
	flex: 0 1 auto;

	/* flexbox-toolbar */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#WKCAppNotesPersistenceStatus {
	margin: auto 5px;

	color: #bfbfbf
}

#WKCAppNotesPublishStatus {
	margin: auto 5px;

	color: #bfbfbf
}

#WKCAppNotesMain {
	font-family: monospace;

	/* flexbox-container */
	flex: 1 1 auto;

	/* flexbox-main */
	display: flex;
	flex-direction: row;
}

#WKCAppNotesList {
	border-right: 1px solid #d9d9d9;
	
	flex-basis: 300px;
	max-width: 300px;
}

.WKCAppNotesListItem {
	height: 50px;

	padding: 10px;
	border-bottom: 1px solid #d9d9d9;

	cursor: pointer;

	/* vendor-based */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.WKCAppNotesListItemSelected {
	background: #e6e6e6;
}

.WKCAppNotesListItem pre {
	width: inherit;
	height: inherit;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	margin: 0;

	/* vendor-based */
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#WKCAppNotesEditor {
	flex-grow: 1;

	padding: 10px;

	/* flexbox-editor */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#WKCAppNotesEditor textarea {
	font-family: 'monaco', monospace;

	/* flexbox-editor */
	flex-grow: 1;

	/* browser defaults */
	border: none;
	outline: none;
	resize: none;
}

#WKCAppNotesFooter {
	font-size: 80%;
	background: #F3F3F3;
	padding: 10px;
	border-top: 1px solid #d9d9d9;

	/* flexbox-container */
	flex: 0 1 auto;

	/* flexbox-footer */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.WKCAppNotesLoading #WKCAppNotesToolbar *, .WKCAppNotesLoading #WKCAppNotesList *, .WKCAppNotesLoading #WKCAppNotesEditor * {
	visibility: hidden;
}

.WKCAppNotesDebug #WKCAppNotesMain {
	background: red;
}

.WKCAppNotesDebug #WKCAppNotesList {
	background: yellow;
	opacity: 0.5;
}

.WKCAppNotesDebug #WKCAppNotesEditor {
	background: blue;
	opacity: 0.5;
}
