body {
  font-family: 'Helvetica Neue';
	font-size: 90%;
}

#WKCNotes {
	position: absolute;
	top: 24px;
	right: 0;
	bottom: 0;
	left: 0;

	/* @Flexbox1 parent */
	display: flex;
}

.WKCNotesLoading .WKCSharedToolbar *, .WKCNotesLoading #WKCNotesMasterContent *, .WKCNotesLoading #WKCNotesDetailContent * {
	visibility: hidden;
}

#WKCNotesMaster {
	/* @Flexbox1 child */
	flex-basis: 300px;
	flex-shrink: 0;

	/* @Flexbox2 parent */
	display: flex;
	flex-direction: column;
}

#WKCNotesMasterContent {
	overflow: auto;
}

.WKCNotesMasterContentListItem {
	height: 50px;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.WKCNotesMasterContentListItemSelected {
	background: #e6e6e6;
}

.WKCNotesMasterContentListItemSnippet {
	width: 200px;
	height: inherit;

	overflow: hidden;
	text-overflow: ellipsis;

	/* browser defaults */
	margin: 0;

	/* wrap pre tag */
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#WKCNotesDetail {
	border-left: 1px solid #ddd;

	/* @Flexbox1 child */
	flex-grow: 1;

	/* @Flexbox2 parent */
	display: flex;
	flex-direction: column;
}

#WKCNotesDetailToolbarPersistenceStatus {
	margin: auto 5px;

	color: #bfbfbf
}

#WKCNotesDetailToolbarPublishStatus {
	margin: auto 5px;

	color: #bfbfbf
}

#WKCNotesDetailContent {
	font-size: 80%;

	/* @Flexbox2 child */
	flex-grow: 1;

	/* @Flexbox3 parent */
	display: flex;
	flex-direction: column;
}

#WKCNotesDetailContentTextarea {
	padding: 10px;

	font-family: 'monaco', monospace;
	line-height: 1.4;

	/* @Flexbox3 child */
	flex-grow: 1;

	/* browser defaults */
	border: none;
	outline: none;
	resize: none;
}
