<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KVCWriteMasterListItemDispatchCreate</strong>
	<span id="TestKVCWriteMasterListItemDispatchCreate">0</span>
	<span id="TestKVCWriteMasterListItemDispatchCreateData">undefined</span>
</p>

<p>
	<strong>KVCWriteMasterListItemDispatchClick</strong>
	<span id="TestKVCWriteMasterListItemDispatchClick">0</span>
	<span id="TestKVCWriteMasterListItemDispatchClickData">undefined</span>
</p>

<p>
	<strong>KVCWriteMasterListItemDispatchArrow</strong>
	<span id="TestKVCWriteMasterListItemDispatchArrow">0</span>
	<span id="TestKVCWriteMasterListItemDispatchArrowData">undefined</span>
</p>

<p>
	<strong>KVCWriteMasterListItemDispatchFilter</strong>
	<span id="TestKVCWriteMasterListItemDispatchFilter">0</span>
	<span id="TestKVCWriteMasterListItemDispatchFilterData">undefined</span>
</p>
