<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/_shared/__external/OLSKLayout/ui-style.css">
	<link rel="stylesheet" type="text/css" href="/panel/_shared/ui-style.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<link rel="stylesheet" type="text/css" href="/_shared/__external/launchlet/__compiled/launchlet.css">
	<script src="/_shared/__external/launchlet/__compiled/launchlet.js"></script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<hr>

<p>
	<strong>WKCWriteJumpButtonRecipes</strong>
	<button onclick="WKCWriteJumpButton.$set({WKCWriteJumpButtonRecipes: [{
		LCHRecipeName: 'WKCWriteJumpButtonTest',
		LCHRecipeCallback () {
			window.WKCWriteJumpButtonTestRun.innerHTML = parseInt(window.WKCWriteJumpButtonTestRun.innerHTML) + 1;
		},
	}], WKCWriteJumpButtonDispatchComplete () {}})" id="WKCWriteJumpButtonTestSetOne">one</button>
	<button onclick="WKCWriteJumpButton.$set({WKCWriteJumpButtonRecipes: [], WKCWriteJumpButtonDispatchComplete () {}})" id="WKCWriteJumpButtonTestSetZero">zero</button>
</p>

<p>
	<strong>didRun</strong>
	<span id="WKCWriteJumpButtonTestRun">0</span>
</p>

</body>
</html>
