#WKCSharedHeader {
	height: 14px;
	padding: 5px;
	
	background: #e6e6e6;

	font-size: 80%;
}

#WKCSharedHeader a {
	text-decoration: none;
	font-weight: bold;

	color: #000;
}

.WKCSharedToolbar {
	padding: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: right;
}

.WKCSharedElementTappable {
	cursor: pointer;

	/* @DisableTextSelection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.WKCSharedButtonNoStyle {
	background: none;
	border: none;
	padding: 0;
}

.WKCSharedFlash {
	display: block;
	padding: 10px;
	border: 1px solid #d9d9d9;
	background: #f3f3f3;
}
