<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>KVCWriteMasterDispatchCreate</strong>
	<span id="TestKVCWriteMasterDispatchCreate">0</span>
	<span id="TestKVCWriteMasterDispatchCreateData">undefined</span>
</p>

<p>
	<strong>KVCWriteMasterDispatchClick</strong>
	<span id="TestKVCWriteMasterDispatchClick">0</span>
	<span id="TestKVCWriteMasterDispatchClickData">undefined</span>
</p>

<p>
	<strong>KVCWriteMasterDispatchArrow</strong>
	<span id="TestKVCWriteMasterDispatchArrow">0</span>
	<span id="TestKVCWriteMasterDispatchArrowData">undefined</span>
</p>

<p>
	<strong>KVCWriteMasterDispatchFilter</strong>
	<span id="TestKVCWriteMasterDispatchFilter">0</span>
	<span id="TestKVCWriteMasterDispatchFilterData">undefined</span>
</p>

<p>
	<strong>KVCWriteMasterDispatchEscape</strong>
	<span id="TestKVCWriteMasterDispatchEscape">0</span>
</p>

<p>
	<strong>KVCWriteMasterDispatchRevealArchive</strong>
	<span id="TestKVCWriteMasterDispatchRevealArchive">0</span>
</p>
