:global(.KVCWriteMaster) {
	border-right: var(--WKCBorderStyle);
}

:global(.OLSKMasterListToolbar) {
	border-bottom: var(--WKCBorderStyle);
}

:global(.OLSKMasterListToolbar .OLSKToolbarElementGroup) {
	margin-left: 4px;
}

@media screen and (max-width: 760px) {

:global(.OLSKMasterListToolbar .OLSKToolbarElementGroup) {
	margin-left: 8px;
}

}

:global(.KVCWriteMaster .OLSKMasterListBody .OLSKResultsListItemSelected .KVCWriteMasterListItem) {
	background: #e6e6e6;
}

@media screen and (min-width: 760px) {

:global(.KVCWriteMaster.OLSKMasterListFocused .OLSKMasterListBody  .OLSKResultsListItemSelected .KVCWriteMasterListItem) {
	background: #1a81ff;
	color: white;
}

}

:global(.KVCWriteMaster .OLSKMasterListBodyTail) {
	padding: 10px;
	
	/* @OLSKMasterListBodyTailFlexbox:Parent */
	display: flex;
	flex-direction: column;
	align-items: center;
}
