body {
  font-family: 'Helvetica Neue';
	font-size: 90%;
}

#WKCWrite {
	position: absolute;
	top: 24px;
	right: 0;
	bottom: 0;
	left: 0;

	/* @FlexboxWKCWrite parent */
	display: flex;
}

.WKCWriteLoading .WKCSharedToolbar *, .WKCWriteLoading #WKCWriteMasterContent *, .WKCWriteLoading #WKCWriteDetailContent * {
	visibility: hidden;
}

#WKCWriteMaster {
	/* @FlexboxWKCWrite child */
	flex-basis: 300px;
	flex-shrink: 0;

	/* @FlexboxWKCWriteMaster parent */
	display: flex;
	flex-direction: column;
}

#WKCWriteMasterContent {
	/* @FlexboxWKCWriteMaster child */
	overflow: auto;
}

.WKCWriteMasterContentListItem {
	height: 50px;
	padding: 10px;
	border-bottom: 1px solid #ddd;

	overflow: hidden;
	text-overflow: ellipsis;

	font-size: 12px;

	/* prevent breaking from long urls */
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}

.WKCWriteMasterContentListItemSelected {
	background: #e6e6e6;
}

.WKCWriteMasterContentListItemContextTitle {
	font-weight: bold;
}

.WKCWriteMasterContentListItemSnippet {
	display: block;
	margin-top: 5px;
}

#WKCWriteDetail {
	border-left: 1px solid #ddd;

	/* @FlexboxWKCWrite child */
	flex-grow: 1;

	/* @FlexboxWKCWriteDetail parent */
	display: flex;
	flex-direction: column;
}

.WKCWriteDetailInactive {
	border-top: 1px solid #ddd;
	justify-content: center;
}

.WKCWriteDetailInactive #WKCWriteDetailToolbar, .WKCWriteDetailInactive #WKCWriteDetailContent {
	display: none;
}

.WKCWriteDetailInactive #WKCWriteDetailPlaceholder {
	display: block;
	width: 100%;
	text-align: center;
}

#WKCWriteDetailPlaceholder {
	opacity: 0.5;
	display: none;
}

#WKCWriteDetailToolbarPersistenceStatus {
	margin: auto 5px;

	color: #bfbfbf
}

#WKCWriteDetailToolbarPublishStatus {
	margin: auto 5px;

	color: #bfbfbf
}

#WKCWriteDetailContent {
	/* @FlexboxWKCWriteDetail child */
	flex-grow: 1;

	/* @FlexboxWKCWriteDetailContent parent */
	display: flex;
	flex-direction: column;
}

#WKCWriteDetailContentTextarea {
	padding: 10px;

	line-height: 1.4;

	/* @FlexboxWKCWriteDetailContent child */
	flex-grow: 1;

	/* browser defaults */
	border: none;
	outline: none;
	resize: none;
}
