#WKCWrite {
	overflow: hidden;
	position: fixed;
}

#WKCWriteMasterContent {
	/* WKCWriteMasterFlexboxChild */
	overflow: auto;

	/* browser quirks */
	-webkit-overflow-scrolling: touch;
}

.WKC_ContextMobileViewInactive {
	display: none !important;
}

.WKC_ContextMobileActiveView {
	flex-basis: 100vw !important;
}

.MLPSharedContextMobile {
	display: initial;
}

#WKCWriteDetailContentTextarea {
	/* browser quirks */
	-webkit-overflow-scrolling: touch;
}

.WKCSharedToolbar {
	padding: 10px;
}

#WKCWriteMasterToolbarFilterInput {
	height: 24px;
	padding: 4px;
	border-radius: 10px;

	font-size: 100%;
}
