<a class="ROCORootLink" href="https://rosano.ca" title="<%= OLSKFormatted(OLSKLocalized('ROCOSharedStringColonSeparatedFormat'), OLSKLocalized('ROCOSharedRosanoLogoLabel'), OLSKLocalized('ROCORootLinkText')) %>"><img role="img" src="https://rosano.ca/logo.standard.svg"></a>
